##### Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
<br>The Moscow Times - Wednesday, October 2, 2002
<br>The Guardian - Friday, 11.10.13
<br>Daily News - Thursday, 18 August 1977

In [1]:
from datetime import datetime

In [2]:
newspaper_1 = 'The Moscow Times - Wednesday, October 2, 2002'
newspaper_2 = 'The Guardian - Friday, 11.10.13'
newspaper_3 = 'Daily News - Thursday, 18 August 1977'

In [3]:
moscow_times = newspaper_1.split(' - ')[1]
guardian = newspaper_2.split(' - ')[1]
daily_news = newspaper_3.split(' - ')[1]

In [4]:
moscow_times_dt = datetime.strptime(moscow_times, '%A, %B %d, %Y')
moscow_times_dt

datetime.datetime(2002, 10, 2, 0, 0)

In [5]:
guardian_dt = datetime.strptime(guardian, '%A, %d.%m.%y')
if guardian_dt.strftime('%A') != guardian.split(',')[0]:
    guardian_dt = datetime.strptime(guardian, '%A, %m.%d.%y')
guardian_dt

datetime.datetime(2013, 10, 11, 0, 0)

In [6]:
daily_news_dt = datetime.strptime(daily_news, '%A, %d %B %Y')
daily_news_dt

datetime.datetime(1977, 8, 18, 0, 0)

##### Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
```python
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
```
Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [7]:
from datetime import datetime

In [8]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [9]:
def date_checker(date):
    try:
        datetime.strptime(date, '%Y-%m-%d')
        return True
    except:
        return False

In [10]:
list(map(date_checker, stream))

[True, False, False]

##### Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [11]:
from datetime import datetime, timedelta

In [12]:
start_date = '2022-02-27'
end_date = '2022-03-01'

In [13]:
def date_range(start, end):
    list_ = []
    try:
        start_datetime = datetime.strptime(start, '%Y-%m-%d')
        end_datetime = datetime.strptime(end, '%Y-%m-%d')
        for n in range((end_datetime - start_datetime).days + 1):
            list_.append((start_datetime + timedelta(n)).strftime('%Y-%m-%d'))
        return list_
    except:
        return []

In [14]:
date_range(start_date, end_date)

['2022-02-27', '2022-02-28', '2022-03-01']

##### Задание 4
Ваш коллега прислал код функции:
```python
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)

    return default_list[DEFAULT_USER_COUNT-2]
```
При однократном вызове этой функции все работает корректно:
```python
delete_and_return_last_user(1)
'A101'
```
Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:
1. Что значит ошибка list index out of range?
2. Почему при первом запуске функция работает корректно, а при втором - нет?

In [15]:
DEFAULT_USER_COUNT = 3

In [16]:
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя 
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    
    return default_list[DEFAULT_USER_COUNT-2]

In [17]:
delete_and_return_last_user(1)

'A101'

1. Ошибка list index out of range значит, что был указан индекс, выходящий за пределы диапазона списка (например, в списке 3 элемента, а мы указали в индексе элемент 5, которого в этом списке просто нет).
2. При первом запуске удаляется элемент 'A102' и функция возвращает элемент [DEFAULT_USER_COUNT-2], что соответствует [1], как указано в return функции. Поскольку в default_list на этот момент есть элемент с таким индексом, мы получаем 'A101' из списка.<br>
При повторном запуске удаляется 'A101' и в списке остается всего один элемент с индексом [0], поэтому при попытке получить в return элемент с индексом [DEFAULT_USER_COUNT-2] равным [1] функция работает некорректно.