In [1]:
import pandas as pd

##### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [2]:
movie_rate = pd.read_csv('movielens/ratings.csv')

In [3]:
# оставляем в списке только фильмы с рейтингом 5, считаем количество каждого movieId, выводим топ-1
ranked_first = movie_rate[ movie_rate.rating == 5.0 ].movieId.value_counts().index[0]

In [4]:
f'Больше всего оценок 5.0 выставлено фильму с id {ranked_first}'

'Больше всего оценок 5.0 выставлено фильму с id 318'

##### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
power = pd.read_csv('power.csv')

In [6]:
baltic = ['Lithuania', 'Latvia', 'Estonia']

In [7]:
category = [4, 12, 21]

In [8]:
power_consumption = power.loc[ power['country'].isin(baltic) & power['category'].isin(category) & \
         (power['year'] >= 2005) & (power['year'] <= 2010) & (power['quantity'] > 0) ]

In [9]:
consumption_sum = power_consumption['quantity'].sum()

In [10]:
f'Суммарное потребление стран Прибалтики — {consumption_sum}'

'Суммарное потребление стран Прибалтики — 240580.0'

##### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [11]:
pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  84.19      -7.06         -7.73        NaN
1       USDRUB Курс рубля к доллару  79.20      -6.35         -7.42        NaN

In [12]:
pd.read_html('https://fortrader.org/quotes')[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,116.06,0.00,0.00,NaN
1,Нефть WTI Цены на нефть WTI,106.00,-4.24,-3.85,NaN
2,Природный газ Цена на природный газ,7.30,2.16,42.15,NaN
3,Кофе,225.05,0.00,0.00,NaN
4,Кукуруза,789.60,38.20,5.08,NaN
5,Соя,461.00,-18.80,-3.92,NaN
6,Хлопок,130.45,0.00,0.00,NaN

In [13]:
pd.read_html('https://fortrader.org/quotes')[2]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 969      19.00          1.00        NaN
1  Серебро Цена на серебро на бирже  25.64       0.81          3.28        NaN
2         Палладий Цена на Палладий  2 298    -255.00        -10.00        NaN
3           Платина Цены на платину    991     -29.00         -3.00        NaN
4           Медь Цена меди на бирже   4.72       0.02          0.38        NaN

In [14]:
pd.read_html('https://fortrader.org/quotes')[3]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,ВТБ Акции ВТБ,0.020070,-0.000040,-0.198906,NaN
1,Газпром Акции газпрома,223.08,-4.92,-2.16,NaN
2,Лукойл Акции Лукойл,4 889.5,-25.5,-0.5,NaN
3,Роснефть Акции Роснефти,390.50,+82.55,+26.81,NaN
4,Сбербанк Акции Сбербанка,130.61,-0.51,-0.39,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,24.620,+2.200,+9.813,NaN
6,Норникель Акции Норникель,20 216,+1 164,+6,NaN
7,Аэрофлот Акции Аерофлота,32.84,-3.90,-10.62,NaN
8,Северсталь Акции Северсталь,970.60,-344.40,-26.19,NaN
9,Транснефть Акции Транснефть,111 250,-17 500,-14,NaN
10,Ростелеком Курс акций ростелекома,60.30,-1.97,-3.16,NaN
11,РУСАЛ Акции РУСАЛ (RUAL),66.855,+6.800,+11.323,NaN
12,Детский мир iDreamSky Technology Limited,77.72,-6.62,-7.85,NaN
13,Петропавловск Акции Петропавловск,2.05,+0.35,+20.59,NaN
14,Алроса Акции АЛРОСА (ALRS),77.660,-1.940,-2.437,NaN
15,Магнит Акции Магнит (MGNT),4 065.0,+863.0,+27.0,NaN
16,НМЛК Акции НЛМК (NLMK),150.220,-27.280,-15.369,NaN
17,М.видео Акции М.видео (MVID),228.80,-35.20,-13.33,NaN
18,"Газпром нефть Акции ""Газпром нефть"" (SIBN)",409.85,-5.10,-1.23,NaN
19,НМТП Акции НМТП (NMTP),5.2150,+1.0300,+24.6117,NaN
20,Полиметалл Акции Полиметалл (POLY),850.20,+13.20,+1.58,NaN
21,Полюс Золото Акции Полюс Золото (PLZL),13 908.5,+3 275.5,+30.8,NaN
22,НОВАТЭК Акции НОВАТЭК (NVTK),1 056.00,-78.00,-6.88,NaN
23,РусГидро Акции РусГидро (HYDR),0.7890,+0.1348,+20.6053,NaN
24,Татнефть Акции Татнефть (TATN),360.10,+7.10,+2.01,NaN
25,"АФК Система Акции АФК ""Система"" (AFKS)",12.651,+0.021,+0.166,NaN
26,МТС Акции МТС,207.20,-10.30,-4.74,NaN
27,Башнефть Акции Башнефть (BANE),1 027.5,-56.0,-5.2,NaN
28,Яндекс Акции Яндекс (YNDX),1 979.2,+48.0,+2.5,NaN
29,X5 Retail Group Акции X5 Retail Group (FIVE),1 121.50,-57.50,-4.88,NaN
30,ФСК ЕЭС Акции ФСК ЕЭС (FEES),0.09984,+0.00676,+7.26257,NaN
31,Мечел Акции Мечел (MTLR),122.78,+39.78,+47.93,NaN
32,МосБиржа Акции МосБиржа (MOEX),93.66,-1.85,-1.94,NaN
33,Интер РАО Акции Интер РАО (IRAO),2.51,-0.07,-2.68,NaN
34,"Mail.ru Акции Mail.ru (MAIL, ДР)",0.00,нет данных,нет данных,NaN
35,Киви Акции Киви (QIWI),386.0,-6.5,-1.7,NaN
36,"Лента Акции Лента (LNTA, ДР)",120.70,0.00,0.00,NaN
37,"Тинькофф Акции Тинькофф (TCSG, др)",2 991.00,-333.00,-10.02,NaN
38,TGKA.MM,0.007002,-0.000360,-4.889976,NaN
39,Озон Акции Озон (Ozon),1 020.00,+14.50,+1.44,NaN